/*balises*/
form{ display:inline-block;
}
div{
    color: wheat;
}
body{
    background-color:#1c2227;
    font-size: 20px;
    
}
header{
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    color: rgb(95, 81, 194);
}
figure{
    display: flex;
    justify-content: center;
	align-items: center;  
}
img{
    height:400px;
}

li{
    background-color: #0e1c27;
    border: solid 5px #0e1c27;
    border-radius: 40px ;
    color:#1b4163;
    text-align: center ;
    text-decoration: none;
    margin:10px;
    padding: 5px;
    list-style-type: none;
}

a{
    color:#1b4163;
    text-align: center ;
    text-decoration: none;}

footer{
    margin: 30px;
    font-size: xx-large;
}
button{
    border-radius: 6px;
    height: 60px;
    width: 100px;
}
button:hover{
    scale:1.25;
}
em:hover{
    scale: 1.25;
    transition-duration: 3s;
    color: red;
    text-decoration: underline double;
    
}
a:hover{
    font-weight: bolder;
    color: rgb(6, 149, 22);
    text-decoration: underline dotted rgb(31, 59, 59);
}
img:hover{
    scale: 1.10;
    transition-duration: 3s;
}



/*id*/
#nav{
    border-radius: 0px;
}
#crucifixion{
    color: orangered;
    text-decoration: underline dotted
}
#crucifiction{
    background-image:url('../images/cross.jpg');
    background-size: cover;
    background-position: center;
}
#bible{
    background-image:url('../images/bible.webp');
    background-size: cover;
    background-position: center;
}
#quran{
    background-image:url('../images/coran.jpg');
    background-size: cover;
    background-position: center;
}
#contradictions{
    background-image:url('../images/contrad.jpg');
    background-size: cover;
    background-position: center;
}
#miracles{
    background-image:url('../images/miracle.jpg');
    background-size: cover;
    background-position: center;
}

/*classi am*/
.navbar{
    width:90%;
    min-height:100px;
    margin: auto;
}

.nav-item{
    width:200px;
    height:60px;
    margin: 10px;
}

.nav-item:nth-of-type(5){
    width:235px;
}
.navbar-brand{
    width:200px;
    height:50px;
    text-align: left;
    margin-right: 100px;
}
.nav-link{
    width: 210px;
    height:50px;
    font-size: 13px;
    text-align: left;
    position: relative;
    bottom: 5px
}

.titre{
    font-size: 30px;
    text-align: center;
    color:darkgray;
    margin-top: 50px;
    text-decoration: underline whitesmoke;
}
.intro{
    font-family: 'Comic Sans MS';
    text-align: center;
}
.text{
    text-align: center;
    color: wheat;
    border: thin 7px blue;
    font-size: 20px
}
.citation{
    color: rebeccapurple;
    font-style:italic;
    font-weight: bold
}
.navbar{
    width:90%;
    min-height:100px;
    margin: auto;
    margin-bottom: 50px;
    text-align: left;
}

.nav-item{
    width:200px;
    height:60px;
    margin: 10px;
}

.nav-item:nth-of-type(5){
    width:235px;
}
.navbar-brand{
    width:200px;
    height:50px;
    text-align: left;
    margin-right: 100px;
}

.nav-link{
    width: 210px;
    height:50px;
    font-size: 13px;
    text-align: left;
}

.navbar-toggler .icon-bar {
  margin: 7px;
  display: block;
  width: 22px;
  height: 1px;
  background-color: #cccccc;
  border-radius: 1px;
}
.navbar-collapse.in {
    display: block !important;
}
